@(user: User, project: Project)

@layout("new task", script, style) {
<div style="padding:10px">
    @content_header
    <div class="content-fluid">
        @content
    </div>
</div>
}

@content_header={
<ol class="breadcrumb">
    <li><a href="/user/@user.id">@user.accountId</a></li>
    <li><a href="@routes.DashboardController.showAllProjects(user.id)">ダッシュボード</a></li>
    <li><a href="@routes.TaskController.showProjectTasks(user.id, project.id)">@project.name</a></li>
    <li class="active">new task</li>
</ol>
<hr>
}

@content={
<form action=@routes.TaskController.create(user.id, project.id) method="post" data-toggle="validator">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="task_name" name="title"
                               placeholder="Title"
                               required  data-required-error="titleは必須です。">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" id="content" name="content" placeholder="content..." data-provide="markdown"></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <button class="btn btn-success">create a task</button>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item" data-toggle="collapse" href="#collapse_chief">
                    <h4 class="list-group-item-header">担当者</h4>
                </a>
                <div class="collapse in" id="collapse_chief">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input type="radio" value=@project.getUser().getId() name="userId" data-label="@project.getUser().getAccountId()" checked>
                            @for(member <- project.members) {
                            <input type="radio" value=@member.getUser().getId() name="userId" data-label="@member.getUser().getAccountId()">
                            }
                        </li>
                    </ul>
                </div>
                <a class="list-group-item" data-toggle="collapse" href="#collapse_labels">
                    <h4 class="list-group-item-header">label</h4>
                </a>
                <div class="collapse" id="collapse_labels">
                    <ul class="list-group">
                        @for((label,index) <- project.labels.zipWithIndex) {
                        <li class="list-group-item">
                            <input type="checkbox" value=@label.id name="labels[@index]" data-label="@label.content">
                        </li>
                        }
                    </ul>
                </div>
                <a class="list-group-item" data-toggle="collapse" href="#collapse_milestones">
                    <h4 class="list-group-item-header">milestone</h4>
                </a>
                <div class="collapse" id="collapse_milestones">
                    <ul class="list-group">
                        @for(milestone <- project.milestones) {
                        <li class="list-group-item">
                            <input type="radio" value=@milestone.id name="milestone"> @milestone.startDate to @milestone.endDate
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
}



@script={}
@style={}
