@(user: User, project: Project)

@layout("new task", script, style) {
<div style="padding:10px">
    @content_header
    <div class="content-fluid">
        @content
    </div>
</div>
}

@content_header={
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <ol class="breadcrumb">
            <li><a href="/user/@user.id">@user.accountId</a></li>
            <li><a href="@routes.DashboardController.showAllProjects(user.id)">ダッシュボード</a></li>
            <li><a href="@routes.TaskController.showProjectTasks(user.id, project.id)">@project.name</a></li>
            <li class="active">new task</li>
        </ol>
    </div>
</div>
<hr>
}

@content={
<form action=@routes.TaskController.create(user.id, project.id) method="post" data-toggle="validator">
    <div class="row">
         <div class="col-md-offset-1 col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="task_name" name="title"
                               placeholder="Title"
                               required  data-required-error="titleは必須です。">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" rows="10" id="content" name="content" placeholder="content..." data-provide="markdown"></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="responsible">担当者</label>
                        <div class="col-md-10">
                            <select id="responsible" class="form-control" name="userId">
                                <option value=@project.user.id>@project.getUser().getAccountId()</option>
                                @for(member <- project.members) {
                                <option value=@member.user.id>@member.getUser().getAccountId()</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button class="btn btn-success">create a task</button>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item" data-toggle="collapse" href="#collapse_labels">
                    <h4 class="list-group-item-header">label</h4>
                </a>
                <div class="collapse" id="collapse_labels">
                    <ul class="list-group">
                        @for((label,index) <- project.labels.zipWithIndex) {
                        <li class="list-group-item">
                            <input type="checkbox" value=@label.id name="labels[@index]"> @label.content
                        </li>
                        }
                    </ul>
                </div>
                <a class="list-group-item" data-toggle="collapse" href="#collapse_milestones">
                    <h4 class="list-group-item-header">milestone</h4>
                </a>
                <div class="collapse" id="collapse_milestones">
                    <ul class="list-group">
                        @for(milestone <- project.milestones) {
                        <li class="list-group-item">
                            <input type="radio" value=@milestone.id name="milestone"> @milestone.startDate to @milestone.endDate
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
}



@script={}
@style={}
