@(projects: List[Project], tasks: List[Task], user: User, currentMenu: String)

@layout_dashboard(projects, tasks, user, currentMenu) {
    @content
}

@projectTableHeader() = {
<tr class="row">
    <th class="col-md-6">プロジェクト名</th>
    <th class="col-md-3">タスク数</th>
    <th class="col-md-3">メンバ数</th>
</tr>
}

@projectTableData(projects: List[Project]) = {
@for(project <- projects) {
<tr class="row table-link" data-html=@routes.ProjectController.showProject(user.id, project.id)>
    <td class="col-md-6">@project.getName()</td>
    <td class="col-md-3">@project.tasks.size</td>
    <td class="col-md-3">@project.members.size</td>
</tr>
}
}

@content = {
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            @projectTableHeader()
            </thead>
            <tbody>
            @projectTableData(projects)
            </tbody>
        </table>
    </div>
</div>
}
