@(projects: List[Project], tasks: List[Task], user: User, currentMenu: String)

@layout_dashboard(projects, tasks, user, currentMenu) {
    @content
}

@projectTableHeader() = {
<tr>
    <th>プロジェクト名</th>
    <th>タスク数</th>
    <th>メンバ数</th>
</tr>
}

@projectTableData(projects: List[Project]) = {
@for(project <- projects) {
<tr class="table-link" data-html=@routes.ProjectController.showProject(user.id, project.id)>
    <td>@project.getName()</td>
    <td><span class="badge">@project.tasks.size</span></td>
    <td><span class="badge">@project.members.size</span></td>
</tr>
}
}

@content = {
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        @projectTableHeader()
        </thead>
        <tbody>
        @projectTableData(projects)
        </tbody>
    </table>
</div>
}
