@(user: User, project: Project)

@layout_project(user, project, "project") {
<div style="padding:10px">
    @content
</div>
}

@content = {
<div class="container-fluid">
    <form action=@routes.ProjectController.update(user.id, project.id) method="post" data-toggle="validator">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="chief">管理責任者</label>
                    <select id="chief" class="form-control" name="chief">
                        <option value=@project.user.id>@project.getUser().getAccountId()</option>
                        @for(member <- project.members) {
                            @if(member.role.name() == "ADMINISTRATOR") {
                                <option value=@member.getUser().id>@member.getUser().getAccountId()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="project_name">プロジェクト名</label>
                    <input class="form-control" id="project_name" name="projectName" value=@project.name
                           required  data-required-error="プロジェクト名は必須です。">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">プロジェクト説明<small>(optional)</small></label>
            <textarea class="form-control" id="description" name="description" data-provide="markdown">@project.description</textarea>
        </div>
        <hr>
        <button class="btn btn-success">update a project</button>
    </form>
</div>
}