@(projects: List[Project], tasks: List[Task], user: User, current_tab: String)(tab_content: Html)

@layout("dashboard", script, style) {
<div style="padding:10px">
    @content
</div>
}

@content={
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/user/@user.id">@user.accountId</a></li>
            <li class="active">ダッシュボード</li>
        </ol>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        @project_list_panel
    </div>
    <div class="col-sm-12 col-md-6">
        @task_list_panel
    </div>
</div>
}

@isActive(tab_type: String) = {
    @if(current_tab == tab_type) {
        "active"
    } else {
        ""
    }
}
@project_list_panel={
<div class="panel panel-default">
    <a href=@routes.ProjectController.showNewProject(user.id) class="btn btn-success header-button pull-right">New Project</a>
    <div class="panel-heading">
        <h2 class="panel-title">Your Projects <span class="badge">@projects.length</span>
        </h2>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <input class="form-control" placeholder="Find a Project..." style="margin-bottom:10px">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class=@isActive("all")><a href=@routes.DashboardController.showAllProjects(user.id)>All</a></li>
                <li role="presentation" class=@isActive("chief")><a href=@routes.DashboardController.showChiefProjects(user.id)>Chief</a></li>
                <li role="presentation" class=@isActive("admin")><a href=@routes.DashboardController.showAdminProjects(user.id)>Admin</a></li>
                <li role="presentation" class=@isActive("public")><a href=@routes.DashboardController.showPublicProjects(user.id)>Public</a></li>
            </ul>
            <div class="tab-content">
                @tab_content
            </div>
        </div>
    </div>
</div>
}

@task_list_panel={
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Your Tasks <span class="badge">@tasks.length</span></h2>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <input class="form-control" placeholder="Find a Task..." style="margin-bottom:10px">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>プロジェクト</th>
                        <th>タイトル</th>
                        <th>ステータス</th>
                        <th>担当者</th>
                    </tr>
                </thead>
                <tbody>
                @for(task <- tasks) {
                    <tr class="table-link" data-html=@routes.TaskController.showTask(user.id, task.project.id, task.id)>
                        <td><code>@task.project.name</code></td>
                        <td>@task.title</td>
                        <td><span class="label label-default">@task.status.getText()</span></td>
                        <td><code>@task.getUser().getAccountId()</code></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
}

@script={}
@style={}