@()
@app("Sign up", script, style) {
<div style="padding:50px">
@content
</div>
}

@content={
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-tilte text-center">Sign up to Task ETE</div>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          @if(flash.get("message") != null) {
            <p class="text-danger">@flash.get("message")</p>
          }
          <form class="form-horizontal" role="form" data-toggle="validator" action=@routes.UserController.create() method="post">
            <div class="form-group">
              <label for="account-id" class="text-muted">Account ID</label>
              <input type="text" class="form-control" id="account-id" placepolder="Account ID" name="accountId" 
                required data-required-error="アカウントIDは必須です。"
                pattern="^[_A-z0-9]{4,}$" data-error="アカウントIDは半角英数字4字以上で入力してください。">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="password" class="text-muted">Password</label>
              <input type="password" class="form-control" id="password" placepolder="Password" name="password" 
                required data-required-error="パスワードは必須です。"
                pattern="^[_A-z0-9]{8,}$" data-error="パスワードは半角英数字8字以上で入力してください。">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="password-confirm" class="text-muted">Password Confirm</label>
              <input type="password" class="form-control" id="password-confirm" placepolder="Password confirm" required data-match="#password" data-required-error="パスワード確認は必須です。" data-match-error="入力されたパスワードが異なります">
              <div class="help-block with-errors"></div>
            </div>

            <button type="submit" class="btn btn-success btn-block"><strong>Sign up for Task ETE </strong></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
}

@script={
}

@style={
}