@(user: User, project: Project)

@layout_project(user, project, "tasks") {
<div style="padding:10px">
    @content
</div>
}

@content = {
<div class="container-fluid">
    <div class="row"  style="margin:10px 0px">
        <div class="col-md-6">
            <a href="@routes.LabelController.show(user.id, project.id)" class="btn btn-default">Labels</a>
            <a href="@routes.MilestoneController.show(user.id, project.id)" class="btn btn-default">Milestone</a>
            <a href=@routes.TaskController.showNewTask(user.id, project.id) class="btn btn-success pull-right">New Task</a>
        </div>
    </div>
    <div class="row"  style="margin:10px 0px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-2">
                            Label
                        </div>
                        <div class="col-md-2">
                            Status
                        </div>
                        <div class="col-md-2">
                            Comment
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    @for(task <- project.getTasks()) {
                    <a class="list-group-item" href=@routes.TaskController.showTask(user.id, project.id, task.id)>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="list-group-item-heading">@task.title</h4>
                                <p class="list-group-item-text">担当者 : @task.getUser().getAccountId()</p>
                                @if(task.getMilestone() != null) {
                                <p class="list-group-item-text">milestone : @task.getMilestone().getName()</p>
                                }
                            </div>
                            <div class="col-md-2">
                                @for(taskLabel <- task.taskLabels) {
                                <span class="label label-@taskLabel.getLabel().getColor().getText()">@taskLabel.getLabel().getContent()</span>
                                }
                            </div>
                            <div class="col-md-2">
                                <span class="label label-default">@task.status.getText()</span>
                            </div>
                            <div class="col-md-2">
                                <span class="badge">@task.getComments().filter(comment => !comment.isClosed()).size</span>
                            </div>
                        </div>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
}